.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.products ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  color: #1a1a1a;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 4px 10px 10px -2px rgba(0, 0, 0, .05);
  border-radius: 20px;
  max-width: 232px;
  border: 1px solid #e2e2e2;
  height: 399px;
}

.products h3 {
  margin: 4px 0px;
}

.products span {
  font-size: 1rem;
  opacity: .9;
}

.products img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  background: #f7f7f7;
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.product-title div h4 {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.product-title div h4:hover {
  color: #001c3b;
}

.product-title div p {
  font-size: small;
  font-weight: 500;
}

.product-title h3 {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 12px;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
}

.price {
  font-style: italic;
  font-weight: 600;
}

.favorite {
  width: 32px;
  height: 32px;
}

.fav {
  background-color: #ff5f0b;
}

.fav:hover {
  background-color: #ff7e38;
}

@keyframes simple-shimmer {
  0% {
    background-color: #e2e2e22c;
    /* Color base */
  }

  50% {
    background-color: #dddddd75;
    /* Oscurecer un poco */
  }

  100% {
    background-color: #e2e2e22c;
    /* Volver al color base */
  }
}

.animated-bg {
  box-shadow: 4px 10px 10px -2px rgba(0, 0, 0, 0.034);
  border: 1px solid #e2e2e22c;
  animation: simple-shimmer 1.5s infinite ease-in-out;
}

.not-found {
  flex-direction: column;
}

.not-found h1 {
  font-weight: 500;
  text-align: center;
}

.not-found p {
  font-size: 15px;
  text-align: center;
}