.searchbar div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.searchbar div input {
  font-size: medium;
  height: 32px;
  margin-right: 4px;
}

.searchbar div p {
  font-size: 15px;
}

.searchbar h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 17px;
}

.searchbar div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: medium;
  margin-right: 8px;
}